{% extends 'base.html' %}

{% block title %} Homepage of Frontend {% endblock %}

{% block content %}
    <div class="container mt-5 p-2">
        <div class="text-center pb-10 m-auto py-24" style="max-width: 600px; padding-top: 24px; padding-bottom: 24px">
            <h1 class="fw-bold">VinoView</h1>
            <p class="fs-6 pt-2">A simple application built with Python to display statistics and information on various types of wines from all over the world.</p>
        </div>

        <div class="row" style="margin-top: 24px;">
            <div class="col-md-4 text-center">
                <h2 class="py-5">Top Wines</h2>
                {% if top_wines %}
                    {% for wine in top_wines %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">{{ wine.get("name") }}</h5>
                                <p class="card-text">{{ wine.get("region") }}, {{ wine.get("country") }}</p>
                                <p class="card-text">Year: {{ wine.get("year") }}</p>
                                <p class="card-text">{{ wine.get("rating") }} / 5 ({{ wine.get("numberofratings") }})</p>
                                <p class="card-text fw-bold fs-4">{{ wine.get("price") }} $</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No wines available.</p>
                {% endif %}
            </div>
            <div class="col-md-4 text-center">
                <h2 class="py-5">Most Recent Wines</h2>
                {% if most_recent_wines %}
                    {% for wine in most_recent_wines %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">{{ wine.get("name") }}</h5>
                                <p class="card-text">{{ wine.get("region") }}, {{ wine.get("country") }}</p>
                                <p class="card-text">Year: {{ wine.get("year") }}</p>
                                <p class="card-text">{{ wine.get("rating") }} / 5 ({{ wine.get("numberofratings") }})</p>
                                <p class="card-text fw-bold fs-4 ">{{ wine.get("price") }} $</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Not wines available.</p>
                {% endif %}
            </div>
            <div class="col-md-4 text-center">
                <h2 class="py-5">Least Recent Wines</h2>
                {% if least_recent_wines %}
                    {% for wine in least_recent_wines %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">{{ wine.get("name") }}</h5>
                                <p class="card-text">{{ wine.get("region") }}, {{ wine.get("country") }}</p>
                                <p class="card-text">Year: {{ wine.get("year") }}</p>
                                <p class="card-text">{{ wine.get("rating") }} / 5 ({{ wine.get("numberofratings") }})</p>
                                <p class="card-text fw-bold fs-4">{{ wine.get("price") }} $</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Not wines available.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
